services:
  postgres:
    image: 'postgres:latest'
    container_name: j2ee_postgres_ourteam
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
    volumes: 
      - postgres_data:/var/lib/postgresql/data

  springboot-app: 
    build: . 
    container_name: j2ee_springboot_app_ourteam  
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/mydatabase
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: secret
    depends_on:
      - postgres

volumes: 
  postgres_data:
  
