version: '3.9'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: chatrealtime
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7.4
    container_name: redis
    ports:
      - "6379:6379"
    restart: always

  app:
    build: .
    container_name: ourteam_backend
    ports:
      - "8081:8080"
    depends_on:
      - db
      - redis
    environment:
      # Database
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/chatrealtime
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1

      # Redis
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

      # Mail (optional)
      MAIL_USERNAME: your_email@example.com
      MAIL_PASSWORD: your_password
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
    restart: always

volumes:
  postgres_data:
